.App {
  text-align: center;
}

.show_true {
  opacity: 1;
  transition: height 0.3s, opacity 0.1s 0.3s linear;
  height: 56px;
}
.show_false {
  opacity: 0;
  transition: height 0.3s 0.1s, opacity 0.1s linear;
  height: 0px;
}

.MuiCheckbox-root {
  padding: 0 9px !important;
}

.MuiButton-contained.Mui-disabled {
  background-color: rgba(0, 0, 0, 0.12) !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
